<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
<!-- HTML Codes by Quackit.com -->
<style type="text/css">
body {background-color:ff9900;background-image:url(http://www.wallm.com/images/t/1440x900/22928-ever-best-desktop-backgrounds-ecolumns-columns-on-android-1440x900.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:scroll;}
table, tr, td {background:transparent; border:0px;}table table {border:0px;}table table table table {border:0px;}table table table {background-color:CCFFFF;border-width:2;border-style:double;border-color:6600CC;}
td, span, div, input, a, table td div div font, body div table tbody tr td font {font-family:Cursive;font-size:14pt;color:000000;}
a {color:0099FF;}
</style>
<br />